/* Hero */
#hero-video {
  margin: 0;
}

video {
  width: 100vw;
  height: 85vh;
  object-fit: cover;
}

/* Categories */
#category-grid {
  display: grid;
  grid-template-areas: "img img img img";
  gap: 1rem;
  margin: 1rem 1rem 4rem 1rem;
  justify-content: center;
}

.category-container {
  margin: 1rem 0.8rem;
  height: 15rem;
  width: 15rem;
}

img {
  grid-area: img;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.category-heading {
  font-size: 2rem;
  text-align: center;
  margin: 0.6rem 0;
}

.category-text {
  text-align: center;
  margin: 0;
  font-size: 1.2rem;
  color: var(--black);
}
