/* Hero */
#hero-video {
  margin: 0;
}

video {
  width: 100%;
  height: 90vh;
  object-fit: cover;
}

/* Categories */
#category-grid {
  display: grid;
  gap: 1rem;
  margin: 0 0 4rem 0;
  justify-content: center;
}

.category-container {
  margin: 1.8rem 0.6em;
  height: 15rem;
  width: 15rem;
}

img {
  grid-area: img;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1.25rem;
}

.category-text {
  text-align: center;
  margin: 0;
  font-size: 1.2rem;
  color: var(--black);
}

/* Media Queries */
@media screen and (min-width: 554px) {
  #category-grid {
    grid-template-areas:
      "img img"
      "img img";
  }
}

@media screen and (min-width: 1100px) {
  #category-grid {
    grid-template-areas: "img img img img";
  }
}
