/* Hero */
#hero-video {
  margin: 0;
}

video {
  width: 100vw;
  height: 85vh;
  object-fit: cover;
}

/* Categories */
#category-grid {
  display: grid;
  grid-template-areas: "img img img img";
  gap: 1rem;
  margin: 1rem;
  justify-content: center;
}

.category-container {
  margin: 0;
  margin-bottom: 2rem;
  height: 15rem;
  width: 15rem;
}

img {
  grid-area: img;
  border: 0.1rem solid var(--black);
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.category-heading {
  font-size: 1.8rem;
  text-align: center;
}

.category-text {
  position: relative;
  bottom: 3rem;
  text-align: center;
  margin: 0;
  font-size: 1.2rem;
}
