html {
  --white: white;
  --black: black;
  --green: #4b987c;
  box-sizing: border-box;
}

body {
  margin: 0;
}

/* Header */
header {
  background-color: var(--white);
  margin: 0;
  padding: 0.5rem;
  font-family: "Nunito", sans-serif;
  border-bottom: 0.2rem solid var(--green);
}

ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
}

#logo {
  margin-right: auto;
}

.header-item {
  margin: 0 1rem;
}

#cart {
  margin-left: auto;
}

/* Links */
a {
  color: var(--black);
  text-decoration: none;
}
