h1 {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 100px;
}

.products-category {
  margin: 0 auto;
  width: 80%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 20px;
  text-align: center;
}

.products-category img {
  width: 100%;
  height: 80%;
  border-radius: 20px;
  box-shadow: 0rem 0.1rem 0.2rem 0rem var(--shadowGray),
    0rem 0.1rem 1rem 0rem var(--shadowGray);
}

.see-more {
  margin: 50px auto;
  justify-content: center;
  text-align: center;
}

button {
  background-color: var(--green);
  width: 100px;
  height: 40px;
  border-radius: 20px;
  border: none;
  color: var(--white);
}

button:hover {
  background-color: var(--green);
}

/*Media Queries*/
@media screen and (max-width: 1300px) {
  .products-category {
    margin: 0 auto;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 20px;
  }
}

@media screen and (max-width: 850px) {
  .products-category {
    margin: 0 auto;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(6, 1fr);
    gap: 20px;
  }
}

@media screen and (max-width: 550px) {
  .products-category {
    margin: 0 auto;
    width: 80%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(12, 1fr);
    gap: 20px;
  }
}

.img1:hover {
  content: url("../img/clothes/exhibit1.jpg");
}
.img2:hover {
  content: url("../img/clothes/exhibit2.jpg");
}
.img3:hover {
  content: url("../img/clothes/exhibit3.jpg");
}
.img4:hover {
  content: url("../img/clothes/exhibit4.jpg");
}
.img5:hover {
  content: url("../img/clothes/exhibit5.jpg");
}
.img6:hover {
  content: url("../img/clothes/exhibit6.jpg");
}
.img7:hover {
  content: url("../img/clothes/exhibit7.jpg");
}
.img8:hover {
  content: url("../img/clothes/exhibit8.jpg");
}
.img9:hover {
  content: url("../img/clothes/exhibit9.jpg");
}
.img10:hover {
  content: url("../img/clothes/exhibit10.jpg");
}
.img11:hover {
  content: url("../img/clothes/exhibit11.jpg");
}
.img12:hover {
  content: url("../img/clothes/exhibit12.jpg");
}
