.product-img {
  width: 50%;
  height: 100%;
  min-width: 300px;
  max-width: 300px;
  max-height: 300px;
}

.productdetails-img {
  width: 100%;
  height: auto;
  border-radius: 20px;
  object-fit: cover;
}

#product {
  width: 80vw;
  min-height: 40vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  flex-flow: wrap;
  margin-bottom: 10%;
}

.productdetails {
  min-width: 300px;
  max-width: 300px;
  width: 50%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.rating {
  margin-top: 0.2rem;
}

.productname {
  margin-bottom: 0.2rem;
}

.price {
  font-size: 1rem;
  font-style: italic;
  margin-top: 1.5rem;
  margin-bottom: 0;
}

.addtocart button:hover{
  background-color: green;
  color:white;
}
.addtocart button {
  margin-top: 1rem;
  width:100px;
  font-size: 0.7rem;
  text-align: center;
  padding: none;
  background-color: #4b987c;
  border:none;
  border-radius: 20px;
  color:white;
}
