* {
  box-sizing: border-box;
}

#cart-container {

  text-align: center;
  width: 80%;
  margin: 0 auto 1.5rem auto;
  border-radius: 20px;
  padding-bottom: 1rem;
}

#empty-cart-text {
  margin: 1rem 0 0.6rem 0;
}

#back-to-store-btn {
  font-weight: bold;
}

.category-total {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 5px 20px;
}

#cart-total {
  border: 1px solid black;
  border-radius: 20px;
  width: 80%;
  margin: 10px auto;
}
