* {
  box-sizing: border-box;
}

#cart-container {
  text-align: center;
  width: 80%;
  margin: 0 auto 0.5rem auto;
  border-radius: 1.25rem;
}

#back-to-store-btn {
  border: none;
  border-radius: 1.25rem;
  background-color: var(--green);
  padding: 0.8rem;
  color: var(--white);
  text-align: center;
}

#back-to-store-btn:hover {
  background-color: var(--hoverGreen);
  cursor: pointer;
}

.category-total {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 5px 20px;
}

.cart-img {
  width: 150px;
  height: 150px;
  border-radius: 20px;
  box-shadow: 0rem 0.1rem 0.2rem 0rem var(--shadowGray),
    0rem 0.1rem 1rem 0rem var(--shadowGray);
}

.cart-item {
  border: 1px solid var(--black);
  border-radius: 20px;
  display: flex;
  padding: 0.8rem;
  width: 80%;
  margin: 20px auto;
}

.cart-info {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: auto;
}

.cart-name {
  margin: auto 5%;
  font-size: 1.2rem;
  font-weight: bold;
}

.cart-price {
  margin: auto 5%;
}

.cart-quantity {
  margin: auto 5%;
}

.quantity-number {
  text-align: center;
}

.remove-item {
  background-color: var(--red);
  border: 0;
  border-radius: 10px;
  min-width: 80px;
  min-height: 30px;
}

.remove-item:hover {
  background-color: var(--hoverRed);
  cursor: pointer;
}

#cart-total {
  border: 1px solid var(--black);
  border-radius: 20px;
  width: 30%;
  margin: 10px auto;
}

#complete-purchase-container {
  display: flex;
  margin: 1.5rem 0 27rem 0;
}

#complete-purchase-button {
  margin: auto;
  border: none;
  border-radius: 1.25rem;
  background-color: var(--green);
  padding: 0.8rem;
  color: var(--white);
  text-align: center;
}

#complete-purchase-button:hover {
  background-color: var(--hoverGreen);
}

/* Media Queries */
@media screen and (max-width: 1000px) {
  .cart-info {
    display: grid;
    grid-template-areas:
      "left1 right1"
      "left2 right2";
    .cart-name {
      grid-area: left1;
    }
    .cart-quantity {
      grid-area: right1;
    }
    .cart-price {
      grid-area: left2;
    }
    .remove-item {
      grid-area: right2;
    }
  }
  .cart-name {
    min-width: 150px;
  }
  .cart-info * {
    display: flex;
    margin: 15px auto;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
  .quantity-number {
    min-width: 20px;
  }
}

@media screen and (max-width: 660px) {
  .cart-item {
    display: flex;
    flex-direction: column;
  }
  .cart-img {
    margin: 10px auto;
  }
}

@media screen and (max-width: 525px) {
  .cart-info {
    display: flex;
    flex-direction: column;
  }
  .cart-info * {
    margin: 3px auto;
  }
}
